{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>AJC-Live_stream</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Normal" >
		<link rel="StyleSheet" href="{% static "css/AJC-Live_stream.css" %}" />
		<script src="http://exportkit.com/cdn/js/ek-googlefont-autoloader-v2-min.js"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >

			<div id="ajc_live___live_play"  >

				<div id="map_copy_2"  >
					<img src="{% static "live_stream/layer_1.png" %}" id="layer_1" />

					<div id="states"  >
						<div id="ga" >
							GA
						</div>

					</div>

				</div>

				<div id="live_bullets_copy_2"  >

					<div id="group_6"  >
						<div id="ellipse_896_copy" >
							<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
								<path fill="#0A589A" d="M16 1 C24.284 1 31 7.716 31 16 C31 24.284 24.284 31 16 31 C7.716 31 1 24.284 1 16 C1 7.716 7.716 1 16 1 "/>
							</svg>
						</div>
						<div id="ellipse_896_copy_2" >
							<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
								<path fill="#0A589A" d="M16 1 C24.284 1 31 7.716 31 16 C31 24.284 24.284 31 16 31 C7.716 31 1 24.284 1 16 C1 7.716 7.716 1 16 1 "/>
							</svg>
						</div>

					</div>

				</div>

				<div id="list_copy_3"  >

					<div id="group_7"  >
						<div id="rectangle_4" >
							<svg width="344" height="69" xmlns="http://www.w3.org/2000/svg">
								<path fill="#000000" d="M11 1 L335 1 C340.523 1 345 5.477 345 11 L345 70 L1 70 L1 11 C1 5.477 5.477 1 11 1 " opacity="0.8"/>
							</svg>
						</div>
						<div id="rectangle_5" >
							<svg width="1926" height="245" xmlns="http://www.w3.org/2000/svg">
								<path fill="#000000" d="M1 1 L1927 1 L1927 245.5 L1 245.5 L1 1 " opacity="0.8"/>
							</svg>
						</div>
						<img src="../skins/AJC-Live_stream/_e_next_page_.png" id="_e_next_page_" />
						<div id="live_stream" >
							Live Stream
						</div>
						<div id="_e_ellipse_897" >
							<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FF0000" d="M10 1 C14.971 1 19 5.03 19 10 C19 14.97 14.971 19 10 19 C5.029 19 1 14.97 1 10 C1 5.03 5.029 1 10 1 " opacity="0.95"/>
							</svg>
						</div>
						<img src="{% static "live_stream/next_page__copy.png" %}" id="next_page__copy" />

					</div>

					<div id="group_8"  >
						<div id="rectangle_6" >
							<svg width="174" height="174" xmlns="http://www.w3.org/2000/svg">
								<path fill="#CCCCCC" d="M1 1 L175 1 L175 175 L1 175 L1 1 "/>
							</svg>
						</div>
						<div id="viewers" >
							Viewers
						</div>
						<div id="channel___sub_tagline" >
							Channel / Sub tagline
						</div>
						<div id="username" >
							Username
						</div>
						<img src="{% static "live_stream/e_next_page__copy_2.png" %}" id="_e_next_page__copy_2" />
						<div id="_e_shape_2" >
							<svg width="1" height="242" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L2 1 L2 243 L1 243 L1 1 " opacity="0.3"/>
							</svg>
						</div>

					</div>

					<div id="group_8_copy"  >
						<div id="rectangle_6_1" >
							<svg width="174" height="174" xmlns="http://www.w3.org/2000/svg">
								<path fill="#CCCCCC" d="M1 1 L175 1 L175 175 L1 175 L1 1 "/>
							</svg>
						</div>
						<div id="viewers_1" >
							Viewers
						</div>
						<div id="channel___sub_tagline_1" >
							Channel / Sub tagline
						</div>
						<div id="username_1" >
							Username
						</div>
						<img src="{% static "live_stream/e_next_page__copy_3.png" %}" id="_e_next_page__copy_3" />
						<div id="_e_shape_2_copy" >
							<svg width="1" height="242" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L2 1 L2 243 L1 243 L1 1 " opacity="0.3"/>
							</svg>
						</div>

					</div>

					<div id="group_8_copy_2"  >
						<div id="rectangle_6_2" >
							<svg width="174" height="174" xmlns="http://www.w3.org/2000/svg">
								<path fill="#CCCCCC" d="M1 1 L175 1 L175 175 L1 175 L1 1 "/>
							</svg>
						</div>
						<div id="viewers_2" >
							Viewers
						</div>
						<div id="channel___sub_tagline_2" >
							Channel / Sub tagline
						</div>
						<div id="username_2" >
							Username
						</div>
						<img src="{% static "live_stream/e_next_page__copy_4.png" %}" id="_e_next_page__copy_4" />
						<div id="_e_shape_2_copy_2" >
							<svg width="1" height="242" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L2 1 L2 243 L1 243 L1 1 " opacity="0.3"/>
							</svg>
						</div>

					</div>

					<div id="group_8_copy_3"  >
						<div id="rectangle_6_3" >
							<svg width="174" height="174" xmlns="http://www.w3.org/2000/svg">
								<path fill="#CCCCCC" d="M1 1 L175 1 L175 175 L1 175 L1 1 "/>
							</svg>
						</div>
						<div id="viewers_3" >
							Viewers
						</div>
						<div id="channel___sub_tagline_3" >
							Channel / Sub tagline
						</div>
						<div id="username_3" >
							Username
						</div>

					</div>

				</div>

				<div id="live_play"  >
					<div id="rectangle_7" >
						<svg width="760" height="790" xmlns="http://www.w3.org/2000/svg">
							<path fill="#000000" d="M1 1 L761 1 L761 791 L1 791 L1 1 " opacity="0.8"/>
						</svg>
					</div>
					<div id="rectangle_7_copy" >
						<svg width="715" height="461" xmlns="http://www.w3.org/2000/svg">
							<path fill="#FFFFFF" d="M1 1 L716 1 L716 461.928 L1 461.928 L1 1 " opacity="0.8"/>
						</svg>
					</div>
					<div id="live__i_85_bridge_has_just_collapse_due_to_blazing_fire__traffi" >
						LIVE: I-85 bridge has just collapse due to blazing fire. Traffic has stop on both 85 north and south.
					</div>
					<div id="breaking_news" >
						Breaking News
					</div>
					<div id="ajc" >
						AJC
					</div>
					<img src="{% static "live_stream/e_next_page__copy_5.png" %}" id="_e_next_page__copy_5" />
					<div id="35k_viewers" >
						35K viewers
					</div>
					<img src="{% static "live_stream/e_view.png" %} id="_e_view" />
					<div id="live" >
						Live
					</div>
					<div id="_e_ellipse_897_copy" >
						<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
							<path fill="#FF0000" d="M10 1 C14.971 1 19 5.029 19 10 C19 14.971 14.971 19 10 19 C5.029 19 1 14.971 1 10 C1 5.029 5.029 1 10 1 " opacity="0.95"/>
						</svg>
					</div>

				</div>

				<div id="header_copy_7"  >
					<div id="rectangle_1" >
						<svg width="1920" height="100" xmlns="http://www.w3.org/2000/svg">
							<path fill="#0A589A" d="M1 1 L1921 1 L1921 101 L1 101 L1 1 " opacity="0.9"/>
						</svg>
					</div>

					<div id="log_in"  >
						<img src="{% static "live_stream/e_next_page__copy_6.png" %}" id="_e_next_page__copy_6" />
						<div id="derick_armstead" >
							Username
						</div>
						<img src="{% static "live_stream/e_fullsizerender.png" %}" id="_e_fullsizerender" />

					</div>

					<div id="_ge_logo"  >
						<div id="live_stream_1" >
							LIVE STREAM
						</div>
						<img src="{% static "live_stream/vector_smart_object_copy_2.png" %}" id="vector_smart_object_copy_2" />

					</div>

				</div>

			</div>

		</div>
	</body>
</html>