{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>AJC-Live_map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Normal" >
		<link rel="StyleSheet" href="{% static "css/AJC-Live_map.css" %}" />
		<script src="http://exportkit.com/cdn/js/ek-googlefont-autoloader-v2-min.js"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >

			<div id="ajc_live___map"  >

				<div id="bkg_copy"  >
					<div id="rectangle_2" >
						<svg width="1921" height="1400" xmlns="http://www.w3.org/2000/svg">
							<path fill="#E8E8E8" d="M1 1 L1922 1 L1922 1401 L1 1401 L1 1 "/>
						</svg>
					</div>

				</div>

				<div id="map"  >
					<img src="{% static "u_s_a_.png" %}" id="u_s_a_" />

					<div id="states"  >
						<div id="ga" >
							GA
						</div>

					</div>

				</div>

				<div id="list"  >
					<div id="rectangle_4" >
						<svg width="344" height="100" xmlns="http://www.w3.org/2000/svg">
							<path fill="#000000" d="M11 1 L335 1 C340.523 1 345 5.477 345 11 L345 91 C345 96.523 340.523 101 335 101 L11 101 C5.477 101 1 96.523 1 91 L1 11 C1 5.477 5.477 1 11 1 " opacity="0.8"/>
						</svg>
					</div>
					<img src="{% static "e_next_page_.png" %}" id="_e_next_page_" />
					<div id="live_stream" >
						Live Stream
					</div>
					<div id="_e_ellipse_897" >
						<svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
							<path fill="#FF0000" d="M10 1 C14.971 1 19 5.029 19 10 C19 14.971 14.971 19 10 19 C5.029 19 1 14.971 1 10 C1 5.029 5.029 1 10 1 "/>
						</svg>
					</div>

				</div>

				<div id="live_bullets"  >

					<div id="_e_group_6"  >
						<div id="ellipse_896_copy" >
							<svg width="25" height="25" xmlns="http://www.w3.org/2000/svg">
								<path fill="#0A589A" d="M13.5 1 C20.404 1 26 6.597 26 13.5 C26 20.404 20.404 26 13.5 26 C6.596 26 1 20.404 1 13.5 C1 6.597 6.596 1 13.5 1 "/>
							</svg>
						</div>

					</div>

					<div id="_e_group_6_copy"  >
						<div id="_e_ellipse_896_copy" >
							<svg width="25" height="25" xmlns="http://www.w3.org/2000/svg">
								<path fill="#0A589A" d="M13.5 1 C20.404 1 26 6.597 26 13.5 C26 20.404 20.404 26 13.5 26 C6.596 26 1 20.404 1 13.5 C1 6.597 6.596 1 13.5 1 "/>
							</svg>
						</div>

					</div>

				</div>

				<div id="channels"  >
					<div id="rectangle_7" >
						<svg width="330" height="424" xmlns="http://www.w3.org/2000/svg">
							<path fill="#000000" d="M1 1 L331 1 L331 424.765 L1 424.765 L1 1 M2 113 L2 112 L2 113 " opacity="0.8"/>
						</svg>
					</div>

					<div id="group_9"  >
						<div id="shape_752" >
							<svg width="330" height="1" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 2 L1 1 L331 1 L331 2 L1 2 " opacity="0.25"/>
							</svg>
						</div>
						<div id="shape_752_copy" >
							<svg width="330" height="1" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 2 L1 1 L331 1 L331 2 L1 2 " opacity="0.25"/>
							</svg>
						</div>
						<div id="shape_752_copy_2" >
							<svg width="330" height="1" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 2 L1 1 L331 1 L331 2 L1 2 " opacity="0.25"/>
							</svg>
						</div>
						<div id="shape_752_copy_3" >
							<svg width="330" height="1" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 2 L1 1 L331 1 L331 2 L1 2 " opacity="0.25"/>
							</svg>
						</div>
						<div id="shape_752_copy_4" >
							<svg width="330" height="1" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 2 L1 1 L331 1 L331 2 L1 2 " opacity="0.25"/>
							</svg>
						</div>

					</div>

					<div id="group_10"  >
						<div id="_e_rectangle_759" >
							<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L31 1 L31 31 L1 31 L1 1 "/>
							</svg>
						</div>
						<div id="_e_rectangle_759_copy" >
							<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L31 1 L31 31 L1 31 L1 1 "/>
							</svg>
						</div>
						<div id="_e_rectangle_759_copy_2" >
							<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L31 1 L31 31 L1 31 L1 1 "/>
							</svg>
						</div>
						<div id="_e_rectangle_759_copy_3" >
							<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L31 1 L31 31 L1 31 L1 1 "/>
							</svg>
						</div>
						<div id="_e_rectangle_759_copy_4" >
							<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
								<path fill="#FFFFFF" d="M1 1 L31 1 L31 31 L1 31 L1 1 "/>
							</svg>
						</div>

					</div>

					<div id="group_11"  >
						<div id="news" >
							News
						</div>
						<div id="neighborhoods" >
							Neighborhoods
						</div>
						<div id="sports" >
							Sports
						</div>
						<div id="events" >
							Events
						</div>
						<div id="social" >
							Social
						</div>

					</div>
					<img src="{% static "e_next_page__copy_5.png" %}" id="_e_next_page__copy_5" />
					<div id="channels_1" >
						Channels
					</div>

				</div>

				<div id="header"  >
					<div id="rectangle_1" >
						<svg width="1920" height="100" xmlns="http://www.w3.org/2000/svg">
							<path fill="#0A589A" d="M1 1 L1921 1 L1921 101 L1 101 L1 1 " opacity="0.9"/>
						</svg>
					</div>

					<div id="log_in"  >
						<img src="{% static "e_next_page__copy_6.png" %}" id="_e_next_page__copy_6" />
						<div id="derick_armstead" >
							{{ user.get_username }}
						</div>
						<img src="{% static "e_fullsizerender.png" %}" id="_e_fullsizerender" />

					</div>

					<div id="_ge_logo"  >
						<div id="live_stream_1" >
							LIVE STREAM
						</div>
						<img src="{% static "vector_smart_object_copy_2.png" %}" id="vector_smart_object_copy_2" />

					</div>

				</div>

			</div>

		</div>
	</body>
</html>